DISCORD_BOT_TOKEN="" # Slash Commands Discord bot
BASE_TOKEN_SNIFFER="" # Discord Bot for blockchain notifications
BASESCAN_API_TOKEN="" # sign up on basescan to get api key
STAGING_CHANNEL_ID="" # copy from discord server
DEBUG="true | false"
CUSTOM_START_BLOCK="123512352"
DB_HOST="localhost"
DB_PORT="2341"
DB_USER="default"
DB_PASSWORD=""
DB_NAME="database_name"